<?xml version="1.0"?>
<config>
  <modules>
    <GaugeInteractive_TagManager>
      <version>1.0.0</version>
    </GaugeInteractive_TagManager>
  </modules>

  <global>
    <blocks>
      <tagmanager>
          <class>GaugeInteractive_TagManager_Block</class>
      </tagmanager>
    </blocks>

    <helpers>
      <tagmanager>
        <class>GaugeInteractive_TagManager_Helper</class>
      </tagmanager>
    </helpers>
  </global>

  <frontend>
    <layout>
      <updates>
        <tagmanager>
          <file>gaugeinteractive_tagmanager.xml</file>
        </tagmanager>
      </updates>
    </layout>
  </frontend>
</config>
